In [1]:
import os
os.chdir('/Users/kasper/Documents/Dropbox/Kasper/Manama/Kaggle Bimbo/')
exec(open('libraries.py').read())
%matplotlib inline

os.chdir('/Users/kasper/Documents/Datasets_no_backup/Kaggle_Bimbo/')

cliente_tabla = pd.read_csv('cliente_tabla.csv')
producto_tabla = pd.read_csv('producto_tabla.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
#train_100000 = pd.read_csv('data/train_10000.csv')
train_pivot = pd.read_csv('train_pivot.csv')
town_state = pd.read_csv('town_state.csv')

ho_test = train.loc[train['Semana'] > 7,:]
ho_train = train.loc[train['Semana'] <= 7,:]
print('Size holdout train: %s' %str(ho_train.shape))
print('Size holdout test: %s' %str(ho_test.shape))
ho_train.sample(5)

Size holdout train: (53364883, 11)
Size holdout test: (20815581, 11)

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
2140402,3,1224,1,4470,1845622,43064,2,16.30,0,0.00,2
13501299,4,1237,1,1201,79389,1240,1,8.38,0,0.00,1
48210644,7,1614,1,1603,2044651,31720,3,25.14,0,0.00,3
44170698,7,1150,4,6615,23452,5380,5,42.10,0,0.00,5
13182624,4,1223,1,4456,118082,43274,2,10.38,4,20.76,0